<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- BLE permissions are declared by :transport and merge in from there. -->

    <application
        android:allowBackup="false"
        android:label="Lumora BLE Test"
        android:supportsRtl="true"
        android:theme="@style/Theme.LumoraTest">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Lumora BLE Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
